@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
  src: url(/fonts/roboto-100.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  src: url(/fonts/roboto-300.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(/fonts/roboto-400.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  src: url(/fonts/roboto-500.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url(/fonts/roboto-700.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  src: url(/fonts/roboto-900.ttf) format("truetype");
}
